body {
	line-height: 1.5em;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.1rem;
	color: #111;
	padding: 0 1em 10em 1em;
}

header, article {
	max-width: 680px;
	margin: 0px auto;
	padding: 0px;
}

img {
	width: auto;
	height: auto;
	max-width:100%;
}

h1 {
	font-size: 2em;
	line-height: 1em;
}
h1, h2, h3, h4, h5, h6, strong, b,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #000;
}

a { text-decoration-color: #00e5; }
a:visited { text-decoration-color: #551A8B55; }
a:hover, a:focus { text-decoration: underline; }

pre {
	overflow-x: auto;
	padding: 1em 0;
}

main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0px auto;
}
main, header.navbar {
	max-width: 1000px;
	font-family: monospace;
	font-size: 1rem;
}
main section {
	max-width: 600px;
	border-top: 5px double;
}
aside {
	max-width: 350px;
	margin: 40px 0 auto auto;
}

.page-list-item dd p {
	margin-top: 0px;
}

header.article-site-title {
	margin-top: 5px;
	font-size: 1em;
	font-family: monospace;
}

.article-title {
	margin-bottom: 2px;
}

.article-date {
	font-size: 0.8em;
	color: #555;
	font-family: monospace;
}

.article-date a {
	color: black;
}

canvas.processing {
	max-width: 75vw;
	max-height: 90vh;
}

/* Pygments*/
.highlight .hll { background-color: #ffffcc }
.highlight { background: #ffffff; }
.highlight .c { font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .ch { font-style: italic } /* Comment.Hashbang */
.highlight .cm { font-style: italic } /* Comment.Multiline */
.highlight .cpf { font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { font-style: italic } /* Comment.Single */
.highlight .cs { font-style: italic } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { font-weight: bold } /* Generic.Heading */
.highlight .gp { font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { font-weight: bold } /* Generic.Subheading */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kn { font-weight: bold } /* Keyword.Namespace */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .s { font-style: italic } /* Literal.String */
.highlight .nc { font-weight: bold } /* Name.Class */
.highlight .ni { font-weight: bold } /* Name.Entity */
.highlight .ne { font-weight: bold } /* Name.Exception */
.highlight .nn { font-weight: bold } /* Name.Namespace */
.highlight .nt { font-weight: bold } /* Name.Tag */
.highlight .ow { font-weight: bold } /* Operator.Word */

@media (max-width: 900px) {
	body {
		font-size: 1rem;
	}
}
@media (prefers-color-scheme: dark) {
	body {
		background: #222;
		color: #eee;
	}

	a {
		color: #7BF;
		text-decoration-color: #07e5;
	}
	a:visited {
		color: #B9F;
		text-decoration-color: #95C5;
	}

	.article-date {
		color: #aaa;
	}
	.article-date a {
		color: white;
	}
	
	h1, h2, h3, h4, h5, h6, strong, b,
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		color: #fff !important;
	}

	.highlight .hll { background-color: #222 }
	.highlight { background: #222; }
}

