{% extends "base.html" %}

{% block title %}{{ article.title }} - {{ super() }}{% endblock title %}
{% block description %}{% if article.summary %}{{ article.summary|striptags }}{% else %}{{ article.content|striptags|truncate(200)|escape }}{% endif %}{% endblock description %}
{% block keywords %}{{ article.keywords }}, {% for tag in article.tags|sort %}{{ tag }}{% if not loop.last %}, {% endif %}{% endfor %}{% endblock keywords %}

{% block content %}
	<h1 class="article-title">{{ article.title }}</h1>

	<section class="article-date">By {% for author in article.authors %}<a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>{% if not loop.last %}, {% endif %}{% endfor %}, {{ article.locale_date }}{% if article.modified %}, updated {{ article.locale_modified }}{% endif %}</section>
	<section class="article-tags">tags:
     {% for tag in article.tags|sort %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
  </section>
  {{ article.content }}
{% endblock %}
