{% extends "base.html" %}

{% block title %}{{ NEST_AUTHORS_HEAD_TITLE }} - {{ super() }}{% endblock title %}
{% block description %}{{ NEST_AUTHORS_HEAD_DESCRIPTION }}{% endblock description %}

{% block content %}
  <div class="archive">
  	{% for author, articles in authors|sort %}
      <h2><a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a></h2>
      {% for article in articles %}
				<p class="page-list-item">
					<a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a> - 
					<small>{{ article.date }}</small>
				</p>
      {% endfor %}
    {% endfor %}
  </div>
{% endblock content %}
