{% extends "base.html" %}

{% block title %}{{ NEST_AUTHOR_HEAD_TITLE }} {{ author }} - {{ super() }}{% endblock title %}
{% block description %}{{ NEST_AUTHOR_HEAD_DESCRIPTION }} {{ author }}{% endblock description %}


{% block content %}
  <div class="archive">
		<h2><a href="{{ SITEURL }}/{{ author.url }}">{{ author.name }}'s Posts</a></h2>
      {% for article in articles %}
				<p class="page-list-item">
					<a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a> - 
					<small>{{ article.date|strftime("%B %d, %Y") }}</small>
				</p>
      {% endfor %}
  </div>
{% endblock content %}
