{% extends "base.html" %}

{% block title %}{{ NEST_INDEX_HEAD_TITLE }} {% if articles_page.has_previous() %}- page {{ articles_page.number }} {% endif %}- {{ super() }}{% endblock title %}
{% block description %}{{ SITENAME }}, {{ SITESUBTITLE }}{% endblock description %}

{% block content %}
  <div class="archive">
    <h2><a href="{{ SITEURL }}/">{{ NEST_INDEX_CONTENT_TITLE }}</a></h2>
      {% for article in articles %}
				<p class="page-list-item">
					<a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a> - 
					<small>{{ article.locale_date}}</small>
				</p>
      {% endfor %}
  </div>
{% endblock content %}
