{% extends "base.html" %}

{% block title %}{{ NEST_TAG_HEAD_TITLE }} {{ tag }} - {{ super() }}{% endblock title %}
{% block description %}{{ NEST_TAG_HEAD_DESCRIPTION }} {{ tag }}{% endblock description %}

{% block content %}
  <div class="archive">
    <h2><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></h2>
      {% for article in articles %}
				<p class="page-list-item">
					<a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a> - 
					<small>{{ article.date|strftime("%B %d, %Y") }}</small>
				</p>
      {% endfor %}
  </div>
{% endblock content %}
